@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Titillium Web', sans-serif;
    font-size: 14px;
}

#page{
    height: 100vh;
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #2b2a33;
}

.button{
    display: flex;
    justify-content: center;
}

main{
    margin: 114px;
    border-radius: 12%;
    padding: 40px;
    max-width: 384px;
    color: #fff;
    background-color: #03823d;
}

.input-wrapper{
    display: flex;
    flex-direction: column;
    gap:8px;
    margin: 5px;
}

label{
    font-weight: 600;
    
}